body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(54, 33, 49);
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* HOME PAGE */
.bgindex {
    background-image: url(../img/bg-main.jpg);
    background-size: cover;

    min-width: 100%;
    min-height: 100%;
}

.rheading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

/* MAIN RECIPES */
.bgmain {
    background-image: url(../img/bg-recipe.jpg);
    background-size: cover;

    min-width: 100%;
    min-height: 100%;
}

.mrecipe {
    margin-left: 700px;
    padding-top: 50px;
    padding-left: 40px;
    background-color: rgba(255, 228, 196, 0.60);
}

/* DESSERT RECIPES */
.bgdessert {
    background-image: url(../img/bg-dessert.jpg);
    background-size: cover;

    min-width: 100%;
    min-height: 100%;
}

.drecipe {
    padding-top: 50px;
    padding-left: 40px;
    margin-right: 700px;
    background-color: rgba(255, 228, 196, 0.60);
}